<div class="calculator">
  <div (keyup.enter)="getAnswer(input)" (keyup.escape)="allClear()" class="calculator__container">
    <div class="calculator__body">
      <div class="calculator__input-container">
        <p class="calculator__final-expression">{{expression}}</p>
        <input (keyup)="pressKey($event.key)" readonly [value]="this.input" type="text" class="calculator__input">
      </div>
      <div class="calculator__button-container">
        <div class="calculator__button-row">
          <div class="calculator__button-item"><button (click)="clear()" class="calculator__button">C</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('√')" class="calculator__button">&#8730;</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('%')" class="calculator__button">%</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('/')" class="calculator__button">/</button></div>
        </div>
        <div class="calculator__button-row">
          <div class="calculator__button-item"><button (click)="pressKey('7')" class="calculator__button">7</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('8')" class="calculator__button">8</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('9')" class="calculator__button">9</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('x')" class="calculator__button">x</button></div>
        </div>
        <div class="calculator__button-row">
          <div class="calculator__button-item"><button (click)="pressKey('4')" class="calculator__button">4</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('5')" class="calculator__button">5</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('6')" class="calculator__button">6</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('-')" class="calculator__button">-</button></div>
        </div>
        <div class="calculator__button-row">
          <div class="calculator__button-item"><button (click)="pressKey('1')" class="calculator__button">1</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('2')" class="calculator__button">2</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('3')" class="calculator__button">3</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('+')" class="calculator__button">+</button></div>
        </div>
        <div class="calculator__button-row">
          <div class="calculator__button-item"><button (click)="pressKey('00')" class="calculator__button">00</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('0')" class="calculator__button">0</button></div>
          <div class="calculator__button-item"><button (click)="pressKey('.')" class="calculator__button">.</button></div>
          <div class="calculator__button-item"><button (click)="getAnswer(input)" class="calculator__button">=</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
